.git
.gitignore
.github
node_modules
.next
next-env.d.ts
*.pem
npm-debug.log*
pnpm-debug.log*
.pnpm-debug.log*
.env
README.md
LICENSE
Dockerfile*
docker-compose*.yml
.dockerignore
scripts/deploy.sh
*.log
*.tmp
*.temp
.cache
.prettierrc
.prettierignore
.eslintrc*
eslint.config.mjs
*.bak
*.backup
.npmrc
