version: '3.8'

services:
  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    restart: always
    environment:
      - NODE_ENV=production
      - BETTER_AUTH_SECRET=${BETTER_AUTH_SECRET}
      - BETTER_AUTH_URL=${BETTER_AUTH_URL}
    volumes:
      - ./web/public:/app/public
      - sqlite_data:/app/db
    networks:
      - app_network

  docs:
    build:
      context: ./docs
      dockerfile: Dockerfile
    restart: always
    environment:
      - NODE_ENV=production
    networks:
      - app_network
  
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - /etc/ssl/openalbion:/etc/ssl/openalbion:ro
    depends_on:
      - web
      - docs
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  sqlite_data:
    driver: local 