services:
  web:
    build:
      context: ./web
      dockerfile: docker/web/Dockerfile
    restart: always
    environment:
      - NODE_ENV=production
      - BETTER_AUTH_SECRET=${BETTER_AUTH_SECRET}
      - BETTER_AUTH_URL=${BETTER_AUTH_URL}
      - PORT=${WEB_PORT:-3000}
    volumes:
      - ./web/public:/app/public
      - db:/app/db
    networks:
      - app_network
    ports:
      - "${WEB_PORT:-3000}:3000"

  docs:
    build:
      context: ./docs
      dockerfile: docker/docs/Dockerfile
    restart: always
    environment:
      - NODE_ENV=production
      - PORT=${DOCS_PORT:-4000}
    networks:
      - app_network
    ports:
      - "${DOCS_PORT:-4000}:4000"
  
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
      - /etc/ssl/openalbion:/etc/ssl/openalbion:ro
    depends_on:
      - web
      - docs
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  db:
    driver: local 